
<h1> {{sponser}} </h1>

<form action="/teacher/signin" method="post">
    <div class="email">
        <input type="text" name="fname" id="" placeholder="Enter your name"><br><br>
        <input type="email" name="emailID" id="" placeholder="Email Address"><br><br>
        <button type="submit">Submit</button>
    </div>
</form>